@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold">
        Mini Stationery Store Catalog MVC
    </h1>

    <p class="lead mt-3">
        Website quản lý cửa hàng văn phòng phẩm mini bằng ASP.NET Core MVC.
    </p>

    <p class="lead mt-3">
        Ứng dụng MVC dùng để quản lý danh mục văn phòng phẩm
        và theo dõi tình trạng tồn kho của cửa hàng.
    </p>

    <p>
        Hệ thống hỗ trợ xem danh sách sản phẩm,
        xem chi tiết từng mặt hàng
        và thống kê tổng quan kho hàng.
    </p>

    <a class="btn btn-dark btn-lg mt-3"
       href="/Stationeries">
        Đi đến danh mục văn phòng phẩm
    </a>
</div>