@model StationeryWeek3.Mvc.ViewModels.DataHealthViewModel

<h2>Data Health</h2>

<table border="1">
    <tr>
        <td>Total Stationeries</td>
        <td>@Model.TotalStationeries</td>
    </tr>

    <tr>
        <td>Total Categories</td>
        <td>@Model.TotalCategories</td>
    </tr>

    <tr>
        <td>Total Brands</td>
        <td>@Model.TotalBrands</td>
    </tr>

    <tr>
        <td>Database Connected</td>
        <td>@Model.DatabaseConnected</td>
    </tr>
</table>